@import "variables.less";

body {
  background-color: @gray-pale;
  color: @black;
}

.button-primary {
  background: @primary;
  color: @white;
}

.button-secondary {
  background: @secondary;
  color: @white;
}
